@model FundsLibrary.InterviewTest.Common.FundManager

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div class="fund-manager-details">
    <dl class="dl-horizontal">

        @if (!String.IsNullOrEmpty(Model.Photo)) { 
            <dd>
                <img src="@Url.Content(Model.Photo)" alt="Image" class="fund-manager-details-photo" width="96" height="128" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagedSince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagedSince)
        </dd>
               
    </dl>
</div>

<h1>Funds</h1>
<div class="fund-manager-funds">
    <dl class="dl-horizontal">

        @{
            if (Model.SecurityFunds.Count == 0)
            {
                <p>No funds to display</p>
            }
            else
            {
                <table class="table-striped sm-col-4">
                    <thead>
                        <tr>
                            <th width="200px;">
                                @Html.DisplayNameFor(model => model.SecurityFunds[0].IsinCode)
                            </th>
                            <th width="500px;">
                                @Html.DisplayNameFor(model => model.SecurityFunds[0].FullName)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var SecurityFund in Model.SecurityFunds)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => SecurityFund.IsinCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => SecurityFund.FullName)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </dl>
</div>
<div class="row">
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default col-sm-1" })
    <span class="col-sm-4"></span>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success col-sm-1" })
</div>
<br />
<div class="row">
    <span class="col-sm-5"></span>
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger col-sm-1" })
</div>
